.ui-due-date-indicator {
  display: inline-flex;
  font-variant-numeric: tabular-nums;
}

.ui-due-date-indicator--completed .ui-due-date-indicator__text {
  text-decoration: line-through;
}

.ui-due-date-indicator__icon--ontime {
  color: var(--color-text-tertiary);
}

.ui-due-date-indicator__icon--due-soon {
  color: var(--color-status-warning-text);
}

.ui-due-date-indicator__icon--overdue {
  color: var(--color-status-error-text);
}

.ui-due-date-indicator__icon--complete {
  color: var(--color-status-success-text);
}
